<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap" rel="stylesheet">

<title><%= content_for(:title) || "キックボクシングスタイル診断アプリ" %></title>
<meta name="viewport" content="width=device-width,initial-scale=1">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="mobile-web-app-capable" content="yes">
<%= csrf_meta_tags %>
<%= csp_meta_tag %>
<%= yield :head %>

<link rel="icon" href="/icon.png" type="image/png">
<link rel="icon" href="/icon.svg" type="image/svg+xml">
<link rel="apple-touch-icon" href="/icon.png">

<%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
<%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>

<!-- OGP関連 -->
<meta name="twitter:card" content="summary" />
<meta name="twitter:image" content="<%= image_url('ogp.png') %>" />
<meta property="og:title" content="<%= ogp_title %>" />
<meta property="og:description" content="<%= ogp_description %>" />
<meta property="og:image" content="<%= ogp_image %>" />
<meta property="og:url" content="<%= root_url %>" />
<meta property="og:type" content="website" />
